.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  /* position: relative; */
}

.App-clouds {
  height: 25vmin;
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.App-pictures {
  display: flex;
  align-items: center;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  width: 140px;
  height: 56px;
  border-radius: 5px;
  font-family: Arial;
  font-weight: bold;
  border: none;
}

.input {
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
  height: 50px;
  padding: 0px 5px;
  text-align: center;
  border-radius: 5px;
  margin: 0px 50px 0px 0px;
  border: none;
}
.btn:hover {
  background-color: #157efb;
  color: #fff;
}

